{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid bg1 mt-1">





<div class="container-fluid">
<div class="row ml-5 pl-5 mt-4 ">

<div class="col-lg-4 mb-4">


    <h3 class="h101 text-primary d-flex ml-4 "><b>Supervisor</b></h3>
    <img src="{% static 'images/default_user.png' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
    <h3 class="justify-content-center">Prof. X</h3>
    <h5 class="text-justify ">Head Of X department</h5>
    <h5 class="text-justify">Department Of X</h5>
    <h5 class="text-justify">X International University</h5>

</div>




  <div class="col-lg-4 ">

      <h4 class="mt-2 justify-content-center h101">Team Member <span style="color:green;">[lead]</span></h4>
      <img src="{% static 'images/default_user2.png' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
      <h3 class="justify-content-center">Mr. S.A Bhuiya</h3>
      <p class="ml-4">ID: 111-111-111</p>
</div>


  <div class="col-lg-4 float-right">
          <h4 class="mt-2 justify-content-center h101">Team Member </h4>
          <img src="{% static 'images/default_user2.png' %}" class=" ml-4 card-img-top justify-content-center img1 rounded-circle" style="height:150px;width:150px;">
          <h3 class="justify-content-center ">Mr. A.ahmed</h3>
          <p class="ml-4">ID: 222-222-222</p>
</div>

  </div>

  </div>
</div>












</div>
{% endblock content %}
