{% extends 'base.html' %}
{% load static %}

{% block content %}


<div id="#overflowTest" class="bg3 ">



    <table class=" table-striped border-left ">

      <thead style="border:none;">
        <tr >
          <th>Index</th>
          <th>Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>Entry</th>
          <th>Exit</th>
        </tr>
      </thead>

      {% for i in d %}
        <tr>
          {%for k,v in i.items %}

          <td>{{v}}</td>

          {% endfor %}
        </tr>
      {% endfor %}

      </table>
  </div>

    {% endblock content %}
